<html>
<head>
  <title>StudentLogin</title>
  <style type="text/css">
  	.signUp{
  		display: none;
  	}
  	.login{
  		display: none;
  	}
 </style>
</head>
<body>
  <%- include('../partials/Header') %>
<script type="text/javascript">
  const studentTab = document.querySelector(".studentTab")
  const adminTab = document.querySelector(".adminTab")
  studentTab.style.display = "none";
  // adminTab.style.display = "none";



</script>
</body>
</html>