<html>
<head>
	<title>Dashboard Header</title>
	<style type="text/css">
		.dashboardHeader{
			width: cover;
			height: 100px;
			background: black;
			color: white;
			display: flex;
			flex-direction: row;
			padding-left: 10px;
		}
		.logoutAddC{
			float: right;
			height: 100%;
			width: 15%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 5px;
		}
		.newb{
			display: flex;
			flex-direction: row;
			justify-content: center;
			background:white;
			color: black;
			cursor: pointer;
			border: none;
			padding:5px;
			font-size: 15px;
			margin: 3px;
		}
		.newb:hover{
			color:#4ECDC4;
		}
		.heading{
			width: 70%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 45px;
		}
		.username{
			margin:auto;
		}
		.home{
			width: 5%;
			text-decoration: none;
			color: white;
			margin:auto;
		}
		.studentProfile{
			width: 10%;
			text-decoration: none;
			color: white;
			margin:auto;
		}
		a:hover{
			color: #4ECDC4;
		}
	</style>
</head>
<body>
	<div class="dashboardHeader">
		<a class="home" href="/">CR</a>
		<a class="studentProfile" href="/adminAccount">Profile</a>
		<div class="heading"> 
		<a class="username"><%=adminRecivedComplaint.admin[2].username%></a>
		</div>
		<form  class="logoutAddC" action="/admin/logout/<%=adminRecivedComplaint.admin[1]%>" method = "POST">
			<input class="newb" type="submit" name="submit" value="Logout">
		</form>
	</div>
</body>
</html>