<html>
<head>
  <style type="text/css">
    .header{
      width: cover;
      height: 100px;
      background: black;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;
    }
    .dashboardTab{
      width: cover;
      height: 100px;
      background: black;
      color: white;
      display: flex;
      flex-direction: row;
    }
    .logoutAddC{
      float: right;
      height: 100%;
      width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 5px;
    }
    .newb{
      display: flex;
      flex-direction: row;
      justify-content: center;
      background:white;
      color: black;
      cursor: pointer;
      border: none;
      padding:5px;
      font-size: 15px;
      margin: 3px;
    }
    .heading{
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 45px;
    }
    .username{
      margin:auto;
    }
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      cursor:pointer;
    } 
    a:hover{
      color: #4ECDC4;
    }
    .studentTab
    {
      margin-left: 5px;
    } 
    .adminTab{
      margin-left: 5px;
    }
    .home{
     text-decoration: none;
      color: white;
      font-size: 20px;
      cursor:pointer;
    }
  </style>
</head>
<body>
  <div class="header">
      <a class="home" href="/">CR</a>
      <div class="studentTab">
          <a class="studentSignUpTab" href="/student/SignUp">SignUp</a>
          <a class="studentLogInTab" href="/student/LogIn">LogIn</a>
      </div>

      <div class="adminTab">
          <a class="adminSignUpTab" href="/admin/signUp">SignUp</a>
          <a class="adminLogInTab" href="/admin/logIn">LogIn</a>
      </div>
  </div>
</body>
</html>